pkgbase = legion-y9000x-2022-iah7-sound-fix-dkms
	pkgdesc = DKMS package to fix internal speakers for Legion Y9000X 2022 IAH7 (which has cs35l41 amps identified as 17AA386E)
	pkgver = 0.4.0
	pkgrel = 2
	url = https://alampy.com/2024/04/19/use-dkms-to-patch-linux-kernel-mod/
	arch = any
	license = GPL2
	depends = dkms
	depends = curl
	depends = libarchive
	source = dkms-patchmodule.sh
	source = dkms.conf
	source = ignore_irqs_error.patch::https://github.com/torvalds/linux/commit/762eba7096e3d4d81faefffcc57074a82b53613d.patch
	source = 17aa_386e_quirk.patch
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = 9f222a486f8c2fb5068f5408268dd2bebd884415fbcbf16d6610aa99e390c8a5
	sha256sums = 69681c7bbc2e692f5a040f955bf1f2d785b3c61308992c5c77b88320de22595d

pkgname = legion-y9000x-2022-iah7-sound-fix-dkms
